.DS_Store

old/

# Diese Dateien werden beim kompilieren erzeugt:
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.ilg
*.lof
*.log
*.lot
*.nlo
*.nls*
*.out
*.run.xml
*.sub
*.suc
*.syc
*.sym
*.synctex.gz
*.toc

# IDEs
.texpadtmp/
main.pdf
main_englisch.pdf

_markdown_main/

# Literatur-Volltexte (Urheberrecht, grosse Dateien) - werden nicht eingecheckt
literatur/pdf/

# Recherche-Zwischendateien in docs/ (z. B. EBSCO-Dumps)
docs/_*.json
docs/_*.txt
